.scroll-container {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh 0;
  background-position: center;
  background-size: cover;
  /* background-image: url("https://images.pexels.com/photos/2907879/pexels-photo-2907879.jpeg"); */
}

.heading {
  color: #000000;
  font-family: inter-n7;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.grid-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 50px;
  padding: 0 8vh;
  /* background-color: red; */
  width: 100%;
  height: 100%;
}

.map-container {
  /* border-radius: 10px; */
  overflow: hidden;
  width: 50%;
  align-self: left;
  height: 80%;
}

.form-container {
  /* animation: fadeIn 1s forwards; */
  width: 50%;
  height: 80%;
  background-color: rgba(117, 115, 115, 0.667);
  backdrop-filter: saturate(180%) blur(15px);
  border-radius: 10px;
  justify-content: center;
  /* align-items: center; */
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  h2 {
    color: #ffffff;
    font-family: inter-n7;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

.inputGroup {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  .label {
    color: #ffffff;
    width: 120px;
    font-family: manrope;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.5px;
  }
}

.formx {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: red; */
}

.styled-input,
.styled-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.368);
  transition: border-color 0.3s;
}

.styled-textarea {
  margin-top: 10px;
  resize: none;
  height: 100px;
}

.styled-textarea:focus,
.styled-input:focus {
  background-color: rgb(255, 255, 255);
  outline: none;
}

.styled-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  align-self: flex-end;
  width: 20%;
  background-color: #015dc0;
  color: #fff;
  font-family: manrope;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.styled-button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh 0;
  height: 50vh;
  h1 {
    color: white;
    font-family: inter-n7;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

/* afasdf */

/* Main container styling */
.social-media-container {
  text-align: center;
  height: 30vh;
  background-color: #000000;
  padding: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Title styling */
.social-media-container .title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 20px;
}

/* Social media list styling */
.social-media-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* gap: 16px; */
  padding: 0;
  /* background-color: #ffffff; */
}

.social-media-list li {
  position: relative;
  width: 90px;
  height: 85px;
  border: 0.1px solid #848484b1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Icon styling */
.social-media-list li a {
  /* color: #fff; */
  background-color: transparent;
  filter: invert(1);
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  scale: 1.3;
  justify-content: center;
  transform: translateY(0px);
}

/* Hover effect for icons */
.social-media-list li:hover {
  background-color: #000000;
  filter: invert(1);
  color: #000;
}

.social-media-list li:hover i.fa-brands {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

/* Display text under icon on hover */
.social-media-list li:hover span {
  opacity: 1;
}

/* Hidden label styling */
.social-media-list li a span {
  position: absolute;
  bottom: -13px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease;
}

/* Show label only when the item is hovered */
.social-media-list li:hover a span {
  color: #000;
}
